<style>
    .monitoring-pie-chart ul {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: 60px;
        background: #cccccc;
        font-size: 0;
        line-height: 0;
        letter-spacing: -0.3em;
    }
    .monitoring-pie-chart li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 25%;
        text-align: center;
        font-size: 18px;
        line-height: 60px;
        letter-spacing: normal;
    }
    .monitoring-pie-chart li a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .monitoring-pie-chart li a:hover,
    .monitoring-pie-chart li a.active {
        background: #333333;
        color: #ffffff;
    }
    .monitoring-pie-chart li a.active:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border: 10px solid;
        border-color: transparent;
        border-top-color: #333333;
    }
    .monitoring-pie-chart .chart {
        position: relative;
        display: inline-block;
        width: 100%;
        /*height: 200px;*/
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .monitoring-pie-chart .chart canvas {
        /* position: absolute;
         top: 0;
         left: 0;*/
    }

    .monitoring-pie-chart .total-value{
        position: absolute;
        bottom: 0;
        left: 20px;
    }


    .monitoring-pie-chart .percent {
        display: inline-block;
        /*line-height: 110px;*/
        z-index: 2;
        position:absolute;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        color: #757575;
        font-size: 2.5em;
        font-weight: 400;
        top: 76px;
    }
    .monitoring-pie-chart .percent:after {
        /*content: '%';*/
        margin-left: 0.1em;
        font-size: .8em;
    }
</style>
<nav id="top-nav">
    <div class="pull-left ">
        <div class="btnMenuWrap">
            <ul>
                <li>
                    <a id="btnMenu" href="javascript:void(0);">
                        <span class="menu-bar"></span>
                        <span class="menu-bar"></span>
                        <span class="menu-bar"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="logo pull-left">Sentiment Analysis</div>

    <ul id="topNav">
        <li><a href="/" class="active-menu"><span class="glyphicons glyphicons-dashboard"></span>Dashboard</a></li>
    </ul>

    <ul class="topNavRight">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="user-icon glyphicons glyphicons-user"></span><span style="display: inline-block; margin-right: 10px;">Admin</span><span class="glyphicons glyphicons-chevron-down"></span></a>
            <ul class="dropdown-menu">
                <li style="width: 100%; float: left;">

                    <a href="/"><span class="glyphicons glyphicons-log-out"></span>Log out</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>


<div ng-show="data.length" id="main-container" class="container-fluid">

    <div class="left-menu">
        <ul ng-init="tab=1">
            <li class="tab" ng-class="{active:tab == 1}" ng-click="tab=1"><span class="glyphicons glyphicons-charts"></span></li>
            <li class="tab" ng-class="{active:tab == 2}" ng-click="tab=2"><span class="glyphicons glyphicons-show-thumbnails"></span></li>
        </ul>
    </div>

    <div ng-show="tab==1">

        <div class="stats-container">
            <div class="statsWrap">
                <div class="slate-graph-title">
                    Negative
                </div>
                <div class="graph-outer monitoring-pie-chart">
                    <div class="chart" easypiechart percent="negativeObj.value" options="options">
                        <span class="percent {{negativeObj.unit}}" ng-bind="negativeObj.value"></span>
                        <span class="total-value" ng-if="negativeObj.unit !='%' && negativeObj.total > 0">Total: <strong>{{negativeObj.total}}</strong></span>
                    </div>
                </div>
            </div>

            <div class="statsWrap">
                <div class="slate-graph-title">
                    Neutral
                </div>
                <div class="graph-outer monitoring-pie-chart">
                    <div class="chart" easypiechart percent="neutralObj.value" options="options">
                        <span class="percent {{neutralObj.unit}}" ng-bind="neutralObj.value"></span>
                        <span class="total-value" ng-if="neutralObj.unit !='%' && neutralObj.total > 0">Total: <strong>{{neutralObj.total}}</strong></span>
                    </div>
                </div>
            </div>

            <div class="statsWrap">
                <div class="slate-graph-title">
                    Positive
                </div>
                <div class="graph-outer monitoring-pie-chart">
                    <div class="chart" easypiechart percent="positiveObj.value" options="options">
                        <span class="percent {{positiveObj.unit}}" ng-bind="positiveObj.value"></span>
                        <span class="total-value" ng-if="positiveObj.unit !='%' && positiveObj.total > 0">Total: <strong>{{positiveObj.total}}</strong></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="graph-container">

            <div ng-repeat="item in graphArray" >

                <div class="graphWrap {{item.type}}">
                    <div class="slate-graph-title">

                    <span ng-if="item.type=='line' || item.type=='column' || item.type=='area'  ">

                        <!--<span class="configuration-icon glyphicons glyphicons-cogwheel" onclick="showConfiguration($(this));"></span>

                        <div class="configuration-block">
                            <div class="form-group">
                                <label> X-Coordinate</label>
                                <select class="form-control" ng-model="item.x_coordinate" ng-options="f.field as f.field for f in schema" ng-change="getX(item.x_coordinate, $index)">
                                    <option  value="item.x_coordinate" selected>Select X-Coordinate</option>
                                </select>
                            </div>

                            <div class="form-group" ng-if="item.type=='column' || item.type=='area'">
                                <label>Y-Coordinate</label>
                                <select class="form-control" ng-model="item.y_coordinate" ng-options="f.field as f.field for f in schema" ng-change="getY(item.y_coordinate, $index)">
                                    <option  value="item.x_coordinate" selected>Select Y-Coordinate</option>
                                </select>
                            </div>

                            <div class="form-group" ng-if="item.type=='line'">
                                <label>Y-Coordinate</label>
                                <ng-dropdown-multiselect class="angular-custom-select" options="array" selected-model="selected_items" events="events" translation-texts="customTexts" extra-settings="custom_settings" search-filter="customFilter" checkboxes="true"></ng-dropdown-multiselect>
                            </div>
                        </div>-->


                    </span>

                        {{item.title}}
                    </div>

                    <div class="graph-outer" ng-class="{graphOuterMap:item.type=='map'}">

                        <!-- <div ng-if="item.type=='pie'">
                         <div id="lineHighChart"></div>
                     </div>-->

                        <div ng-if="item.type=='column'">
                            <div ng-if = "item.x_coordinate != '' && item.y_coordinate != ''  && schema.length && data.length">

                                <highchart config="barChartConfig"></highchart>
                            </div>
                        </div>
                        <div ng-if="item.type=='heatmap'">
                            <div id="heatMap"></div>
                        </div>
                        <div ng-if="item.type=='area'">

                            <div ng-if = "item.x_coordinate != '' && item.y_coordinate != ''  && schema.length && data.length">
                                <highchart config="areaChartConfig"></highchart>
                            </div>
                        </div>
                        <div ng-if="item.type=='map'">
                            <div id="map"></div>
                        </div>
                        <div ng-if="item.type=='pie'">
                            <div id="pieHighChart"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div ng-show="tab==2">
        <div class="table-block">

            <div class="form-inline pull-left">
                <div class="form-group">
                    <label style="margin-right: 10px;"><b>API:</b></label>
                    <input style="width: 650px;" type="text" class="form-control" value="http://45.55.159.119:3000/sinkHelpers/executeQuery?pipeline=5526b98f8022a0dd73295c9e:556ff7a776f67ea760fe5c07;&query=select%20*%20from%20table556ff7a776f67ea760fe5c07&tool=phoenix&sink_type=smart"/>
                </div>

                <button type="submit" ng-click="fetchData();" class="btn btn-default btn-gray">Fetch</button>
            </div>

            <div class="form-group">

                <div class="inner-addon right-addon">
                    <i class="glyphicons glyphicons-search"></i>
                    <input type="text" class="form-control" ng-model="searchText" placeholder="Search..." />
                </div>
                <div class="clear"></div>
            </div>

            <table ng-show="showData" class="table table-responsive">
                <thead>
                <tr>
                    <th ng-repeat="fieldProps in schema">
                        {{fieldProps.alias}}
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="dataObj in data  | filter:searchText">
                    <td ng-repeat="fields in schema">{{dataObj[fields.field]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-if="data.length==0">
    <div class="loading-wrapper">
        <div class="loading-overlay">
            <img src="../images/loading.gif" alt="Loading..." />
        </div>
    </div>
</div>

<div ng-if="fetchDtataLoader==0">
    <div class="loading-wrapper">
        <div class="loading-overlay">
            <img src="../images/loading.gif" alt="Loading..." />
        </div>
    </div>
</div>

<script type="text/javascript">
    function showConfiguration(event){
        $(event).parent().children(".configuration-block").stop().slideToggle();
    }
</script>
