<style>
    /*.teams-wrap{
        background: #eee;
        padding-top: 20px;
        margin-bottom: 30px;
    }*/
    .team{
        background: #eee;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 15px;
        margin-top: 10px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #666;
    }
    .team-row{
        margin-bottom: 30px;
    }
    .team img{
        margin-right: 20px;
    }
</style>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <nav id="top-nav">
            <div class="logo pull-left">
                <img src="images/nfl-logo.png" alt="" />
            </div>

            <ul id="topNav" class="topNav">
                <li><a ui-sref="teams" class="active-menu"><!--<span class="glyphicons glyphicons-dashboard"></span>-->Teams</a></li>
                <li><a ui-sref="sentiments"><!--<span class="glyphicons glyphicons-dashboard"></span>-->Realtime Sentiments</a></li>
                <!--<li><a ui-sref="teams"><span class="glyphicons glyphicons-dashboard"></span>Teams</a></li>-->
            </ul>

            <!--<ul class="pull-right topNavRight" style="margin-left: 5px; margin-right: 15px;">
                <li><a ng-class="{'active-menu': showHashTag}" ng-click="showHideHashTag()"># Tags</a></li>
            </ul>-->

            <!--<ul class="topNavRight" style="margin-right: 15px;">
                <li class="dropdown">
                    <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle"><span class="user-icon glyphicons glyphicons-user"></span><span style="display: inline-block; margin-right: 10px;">Admin</span><span class="glyphicons glyphicons-chevron-down"></span></a>
                    <ul class="dropdown-menu">
                        <li style="width: 100%; float: left;">

                            <a href="/"><span class="glyphicons glyphicons-log-out"></span>Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>-->
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row team-row">
            <div class="col-md-6">
                <div class="slate-graph-title">AFC-NORTH</div>
                <div class="team"><img src="images/afc-north/bal.png" alt="" width="81" height="54">Baltimore Ravens</div>
                <div class="team"><img src="images/afc-north/cin.png" alt="" width="81" height="54" class="teamslandinggrid">Cincinnati Bengals</div>
                <div class="team"><img src="images/afc-north/cle.png" alt="" width="81" height="54" class="teamslandinggrid">Cleveland Browns</div>
                <div class="team"><img src="images/afc-north/pit.png" alt="" width="81" height="54" class="teamslandinggrid">Pittsburgh Steelers</div>
            </div>
            <div class="col-md-6">
                <div class="slate-graph-title">NFC-NORTH</div>
                <div class="team"><img src="images/nfc-north/chi.png" alt="" width="81" height="54" class="teamslandinggrid">Chicago Bears</div>
                <div class="team"><img src="images/nfc-north/det.png" alt="" width="81" height="54" class="teamslandinggrid">Detroit Lions</div>
                <div class="team"><img src="images/nfc-north/gb.png" alt="" width="81" height="54" class="teamslandinggrid">Green Bay Packers</div>
                <div class="team"><img src="images/nfc-north/min.png" alt="" width="81" height="54" class="teamslandinggrid">Minnesota Vikings</div>
            </div>
        </div>
        <div class="row team-row">
            <div class="col-md-6">
                <div class="slate-graph-title">AFC-SOUTH</div>
                <div class="team"><img src="images/afc-south/hou.png" alt="" width="81" height="54" class="teamslandinggrid">Houston Texans</div>
                <div class="team"><img src="images/afc-south/ind.png" alt="" width="81" height="54" class="teamslandinggrid">Indianapolis Colts</div>
                <div class="team"><img src="images/afc-south/jac.png" alt="" width="81" height="54" class="teamslandinggrid">Jacksonville Jaguars</div>
                <div class="team"><img src="images/afc-south/ten.png" alt="" width="81" height="54" class="teamslandinggrid">Tennessee Titans</div>
            </div>
            <div class="col-md-6">
                <div class="slate-graph-title">NFC-SOUTH</div>
                <div class="team"><img src="images/nfc-south/atl.png" alt="" width="81" height="54" class="teamslandinggrid">Atlanta Falcons</div>
                <div class="team"><img src="images/nfc-south/no.png" alt="" width="81" height="54" class="teamslandinggrid">Carolina Panthers</div>
                <div class="team"><img src="images/nfc-south/car.png" alt="" width="81" height="54" class="teamslandinggrid">New Orleans Saints</div>
                <div class="team"><img src="images/nfc-south/tb.png" alt="" width="81" height="54" class="teamslandinggrid">Tampa Bay Buccaneers</div>
            </div>
        </div>

        <div class="row team-row">
            <div class="col-md-6">
                <div class="slate-graph-title">AFC-EAST</div>
                <div class="team"><img src="images/afc-east/buf.png" alt="" width="81" height="54" class="teamslandinggrid">Buffalo Bills</div>
                <div class="team"><img src="images/afc-east/mia.png" alt="" width="81" height="54" class="teamslandinggrid">Miami Dolphins</div>
                <div class="team"><img src="images/afc-east/ne.png" alt="" width="81" height="54" class="teamslandinggrid">New England Patriots</div>
                <div class="team"><img src="images/afc-east/nyj.png" alt="" width="81" height="54" class="teamslandinggrid">New York Jets</div>
            </div>
            <div class="col-md-6">
                <div class="slate-graph-title"> NFC-EAST</div>
                <div class="team"><img src="images/nfc-east/dal.png" alt="" width="81" height="54" class="teamslandinggrid">Dallas Cowboys</div>
                <div class="team"><img src="images/nfc-east/nyg.png" alt="" width="81" height="54" class="teamslandinggrid">New York Giants</div>
                <div class="team"><img src="images/nfc-east/phi.png" alt="" width="81" height="54" class="teamslandinggrid">Philadelphia Eagles</div>
                <div class="team"><img src="images/nfc-east/was.png" alt="" width="81" height="54" class="teamslandinggrid">Washington Redskins</div>
            </div>
        </div>

        <div class="row team-row">
            <div class="col-md-6">
                <div class="slate-graph-title">AFC-WEST</div>
                <div class="team"><img src="images/afc-west/tb.png" alt="" width="81" height="54" class="teamslandinggrid">Houston Texans</div>
                <div class="team"><img src="images/afc-west/kc.png" alt="" width="81" height="54" class="teamslandinggrid">Indianapolis Colts</div>
                <div class="team"><img src="images/afc-west/oak.png" alt="" width="81" height="54" class="teamslandinggrid">Jacksonville Jaguars</div>
                <div class="team"><img src="images/afc-west/sd.png" alt="" width="81" height="54" class="teamslandinggrid">Tennessee Titans</div>
            </div>
            <div class="col-md-6">
                <div class="slate-graph-title">NFC-WEST</div>
                <div class="team"><img src="images/nfc-west/ari.png" alt="" width="81" height="54" class="teamslandinggrid">Atlanta Falcons</div>
                <div class="team"><img src="images/nfc-west/sf.png" alt="" width="81" height="54" class="teamslandinggrid">Carolina Panthers</div>
                <div class="team"><img src="images/nfc-west/sea.png" alt="" width="81" height="54" class="teamslandinggrid">New Orleans Saints</div>
                <div class="team"><img src="images/nfc-west/stl.png" alt="" width="81" height="54" class="teamslandinggrid">Tampa Bay Buccaneers</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showConfiguration(event){
        $(event).parent().children(".configuration-block").stop().slideToggle();
    }
</script>